body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  font-family: Muli, Arial, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  padding: 0;
  margin: 0;
}
body img {
  max-width: 100%;
  max-height: 100%;
}
body .clearfix {
  clear: both;
}
body a {
  text-decoration: none;
}
body header .header-top {
  background-color: #2980b9;
}
body header img {
  width: 100px;
}
body header ul.menu-right {
  padding: 3px 0;
  list-style: none;
  display: flex;
  float: right;
  background-color: #2980b9;
  border-bottom-left-radius: 10px;
  color: #fff;
  border-top-right-radius: 10px;
  margin-top: 1px;
}
body header ul.menu-right li {
  padding: 0 10px;
  border-right: 2px solid;
}
body header ul.menu-right li a {
  color: #fff;
}
body header ul.menu-right li:last-child {
  border-right: 0;
}
body main#login,
body main#register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}
body main#login .login,
body main#register .login,
body main#login .register,
body main#register .register {
  width: 350px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-top: 5px solid #2980b9;
  border-radius: 5px;
}
body main#login .login h2,
body main#register .login h2,
body main#login .register h2,
body main#register .register h2 {
  font-size: 24px;
  color: #2980b9;
  margin-bottom: 15px;
}
body main .box-header,
body main .box-footer > div {
  background-color: #2980b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  border-radius: 5px;
}
body main .box-header h2,
body main .box-footer > div h2 {
  font-size: 18px;
}
body main .box-header a,
body main .box-footer > div a,
body main .box-header h2,
body main .box-footer > div h2 {
  color: white;
}
body main .box.box-detail .box-header,
body main .box.box-detail .box-footer > div {
  justify-content: center;
}
body main .box-question ol li input {
  margin-right: 20px;
  margin-left: -40px;
}
body main .box-question ol li label {
  display: initial;
}
body main .box-footer {
  position: absolute;
  bottom: 65px;
  right: 0;
  left: 0;
}
body footer {
  border-top: 5px solid #2980b9;
  padding: 15px 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
