h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a.nav-link > i {
    width: 25px;
}

.callout-top {
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background-color: #fff;
    border-top: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
}

.callout-top.callout-top-danger {
    border-top-color: #007bff;
}

body main#register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

body main#register .register {
    width: 350px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-top: 5px solid #2980b9;
    border-radius: 5px;
}

body main#register .register h2 {
    font-size: 24px;
    color: #2980b9;
    margin-bottom: 15px;
}

.content-header h1 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
}

.select2 {
    width: 100% !important;
}